body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    border: solid 3px;
    width: 200px;
    height: 200px;
    font-size: 5em;
}

.images{
    height: 200px;
}

#b1{
    height: 250px;
    width: calc(100% - 6px);    
    font-size: 40px;
    background-color: tomato;
    margin-top: 15px;
    overflow: auto;
}

#b2{
    background-color: lightblue;
    overflow: auto;

}


body{

    background-color: rgb(140, 163, 183);
    overflow: auto;
}

img{
    float:left;
    margin: 5px;

}
img:hover{
    margin-top: 10px;
    transition-duration: .1s;
}

